[Desktop Entry]
Name=KVM
Exec=/usr/bin/python3 /home/user/Desktop/KVM/ECEN499_KVM/__main__.py
Icon=/home/user/Desktop/KVM/ECEN499_KVM/gaming.png
Terminal=false
Type=Application
